@inherits FluxorComponent

@using Vocabulary.Adapters.Persistance.Models

<PageTitle>@Title</PageTitle>

<div>
    <MudDataGrid T="FullTerm"
                 Class="mt-6"
                 ReadOnly="@true"
                 MultiSelection="true" 
                 Items="@Terms" 
                 Sortable="true" 
                 Filterable="true" 
                 QuickFilter="@_quickFilter"
                 Hideable="true"
                 EditMode="@DataGridEditMode.Form"
                 EditTrigger="@DataGridEditTrigger.Manual"
                 RowsPerPage="25"
                 Breakpoint="Breakpoint.None"
                 Virtualize="@true"
                 Loading="@IsLoading"
                 LoadingProgressColor="Color.Info"
    >
        <ToolBarContent>
            <MudStack Style="width: 100%;">
                <MudText Typo="Typo.h6">@Title</MudText>

                <MudStack Row="@true" Class="flex-wrap" AlignItems="AlignItems.Center">
                    <MudButton Variant="Variant.Outlined" 
                               Color="Color.Primary" 
                               OnClick="@NavigateToCreate"
                               >
                        Create new term
                    </MudButton>

                    <MudSpacer />
                    
                    <MudButtonGroup OverrideStyles="@false" Variant="Variant.Outlined">
                        <MudToggleTextButton Title="Search in current category"
                                             Text="Cur"
                                             Color="@Color.Default"
                                             ToggledColor="@Color.Primary"
                                             Variant="Variant.Filled"
                                             DisableElevation="@true"
                                             @bind-Toggled="@AppState.SearchInCurrentCategory"
                                             />
                        <MudToggleTextButton Title="Search in terms"
                                             Text="Trm"
                                             Color="@Color.Default"
                                             ToggledColor="@Color.Primary"
                                             Variant="Variant.Filled"
                                             DisableElevation="@true"
                                             @bind-Toggled="@AppState.SearchInTerms"
                                             />
                        <MudToggleTextButton Title="Search in categories"
                                             Text="Cat"
                                             Color="@Color.Default"
                                             ToggledColor="@Color.Primary"
                                             Variant="Variant.Filled"
                                             DisableElevation="@true"
                                             @bind-Toggled="@AppState.SearchInCategories"
                                             />
                        <MudToggleTextButton Title="Search in synonyms"
                                             Text="Syn"
                                             Color="@Color.Default"
                                             ToggledColor="@Color.Primary"
                                             Variant="Variant.Filled"
                                             DisableElevation="@true"
                                             @bind-Toggled="@AppState.SearchInSynonyms"
                                             />
                    </MudButtonGroup>
                    
                    
                    <MudTextField T="string" 
                                  Value="@_searchString"
                                  ValueChanged="@ReloadTermsForSearch"
                                  Placeholder="Search" 
                                  Adornment="Adornment.Start" 
                                  DebounceInterval="500"
                                  AdornmentIcon="@Icons.Material.Filled.Search" 
                                  IconSize="Size.Medium" 
                                  Class="mt-0 term-search-input" />
                </MudStack>
            </MudStack>
        </ToolBarContent>

        <Columns>
            @Columns
        </Columns>
        <PagerContent>
            <MudDataGridPager T="Term" />
        </PagerContent>
    </MudDataGrid>
</div>
