@page "/terms"
@inherits TermsPageBase
@using MudBlazor.Services
@using Vocabulary.BlazorServer.Pages.Terms.Components
@using Vocabulary.BlazorServer.Pages.Terms.Components.TermColumnSet.TermList

@switch(base.Breakpoints) {
    case Breakponts.Lg:
        <TermDataGrid @ref="_termListComponent" CategoryName="@CategoryName" Search="@Search">
            <Columns>
                <TermListLgColumns NavigateToEdit="@_termListComponent!.NavigateToEdit" 
                                   NavigateToCopy="@_termListComponent.NavigateToCopy" 
                                   CheckDecriptionTerms="@_termListComponent.FindLinksInDescription"
                                   RemoveTerm="@_termListComponent.RemoveTerm"
                                   BroadestColumnMinWidth="min-width: 30rem;"/>
            </Columns>
        </TermDataGrid>
        break;

    case Breakponts.Md:
        <TermDataGrid @ref="_termListComponent" CategoryName="@CategoryName" Search="@Search">
            <Columns>
                <TermListMdColumns NavigateToEdit="@_termListComponent!.NavigateToEdit"
                                   NavigateToCopy="@_termListComponent.NavigateToCopy"
                                   CheckDecriptionTerms="@_termListComponent.FindLinksInDescription"
                                   RemoveTerm="@_termListComponent.RemoveTerm"
                                   BroadestColumnMinWidth="min-width: 30rem;"
                                   />
            </Columns>
        </TermDataGrid>
        break;

    case Breakponts.Sm:
        <TermDataGrid @ref="_termListComponent" CategoryName="@CategoryName" Search="@Search">
            <Columns>
                <TermListSmColumns NavigateToEdit="@_termListComponent!.NavigateToEdit" 
                                   NavigateToCopy="@_termListComponent.NavigateToCopy" 
                                   CheckDecriptionTerms="@_termListComponent.FindLinksInDescription"
                                   RemoveTerm="@_termListComponent.RemoveTerm"
                                   />
            </Columns>
        </TermDataGrid>
        break;

    case Breakponts.Xs:
        <TermDataGrid @ref="@_termListComponent" CategoryName="@CategoryName" Search="@Search">
            <Columns>
                <TermListXsColumns NavigateToEdit="@_termListComponent!.NavigateToEdit" 
                                   NavigateToCopy="@_termListComponent.NavigateToCopy" 
                                   CheckDecriptionTerms="@_termListComponent.FindLinksInDescription"
                                   RemoveTerm="@_termListComponent.RemoveTerm"
                                   />
            </Columns>
        </TermDataGrid>
        break;

    default:
        <div></div>
        break;
}



@code {
    [Parameter, SupplyParameterFromQuery]
    public string? CategoryName { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public string? Search { get; set; }

    TermDataGrid? _termListComponent;
}